/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header, footer {
    text-align: center;
    padding: 20px;
    background-color: #f3f3f3;
}

article {
    padding: 20px;
}

@media (min-width: 768px) {
    article {
        margin: 0 20%;
    }
}

p {
    font-family: 'Arial', sans-serif;
    font-size: 16px; /* Choose your font size */
    line-height: 1.6; /* Adjust line height for readability */
    color: #333; /* Set the text color */
    text-align: justify; /* For justified text; can use 'left', 'right', or 'center' */
    margin: 0 0 15px 0; /* Add space below paragraphs */
  }

  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}