/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header, footer {
    text-align: center;
    padding: 20px;
    background-color: #f3f3f3;
}

article {
    width: 100%; /* Optional: ensures it takes full width on smaller screens */
    padding: 20px; /* Keeps content from touching the edges */
}

@media (min-width: 768px) {
    article {
        width: 70%; /* Adjust to your preference */
        margin: 0 auto; /* Centers the content */
    }
}

p {
    font-family: 'Arial', sans-serif;
    font-size: 16px; /* Choose your font size */
    line-height: 1.6; /* Adjust line height for readability */
    color: #333; /* Set the text color */
    text-align: justify; /* For justified text; can use 'left', 'right', or 'center' */
    margin: 0 0 15px 0; /* Add space below paragraphs */
  }

  .graph-container {
    width: 80%; /* or any other relative/absolute width */
    margin: 20px auto;
    position: relative; /* Needed to position the canvas correctly */
}

.graph-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}


